<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<key>SUPABASE_URL</key>
	<string>https://bfijluuhbkqoldnszeqc.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmaWpsdXVoYmtxb2xkbnN6ZXFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4Nzg3NjYsImV4cCI6MjA5MjQ1NDc2Nn0.ZwknR_wpdeExSRljSod7hQFVlxGxD6BA29p2y8ntuD4</string>
	<key>SUPABASE_JWT_SECRET</key>
	<string>IQuVo2eP1mb/1baclEOCqWI/OAVwsnVZWqIwgYAI5pnBL0COw4qNKyy3zrSGBLm9VyEC8ye/OWP/5QrlkzuvvA==</string>	
	<true/>
</dict>
</plist>
